* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 600;
}

#selected_theme, #selected_language {
    border-color: #000;
}

.editor-card {
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
}